.user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 620px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(0, 187, 250);
}

.button-container {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(0, 187, 250);
}

.user-info-container {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(0, 187, 250);
}

.interests-container {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(0, 187, 250);
}

button {
  background: rgb(0, 187, 250);
  width: 100px;
  height: 50px;
  color: white;
  margin-top: 125px;
}