
header {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    background: #0085FF;
    align-content: center;
    height: 65px;
}

nav a {
    padding: 1% 2.5%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    color: #0085FF;
    text-decoration: none;
    border-radius: 8px;
    height: 17px;
}

nav h1 {
    padding-right: 12%;
    font-size: 50px;
    color: white;
    /* border: 2PX SOLID RED; */
    margin-top: 5px;
}

a:hover {
    background: #0085FF;
    color: white;
    transition: 1.0s;
}

body {
    background-image: linear-gradient(#0085FF, #0085FF, #8AC7FF, white);
    font-family: 'Roboto', sans-serif;
}

.MainCards {
    display: flex;
    justify-content: center;
}

.WhatIs {
    width: 35%;
    margin-top: 5%;
    /* margin-left: 27%; */
}

.WhatIs h1 {
    text-align: center;
    font-size: 2.5rem;
}

.WhatIs p {
    font-size: 1.5rem;  
    text-align: center;
}

.WhatIs .friends1 {
    margin-left: 10%;
}

.Mission {
    width: 35%;
    margin-top: 5%;
    margin-left: 10%;
}

.Mission h1 {
    text-align: center;
    font-size: 2.5rem;
}

.Mission p {
    font-size: 1.5rem;  
    text-align: center;
}

.Mission .friends2 {
    margin-left: 12%;
}