/* Ben Solt */


.Message-Container{
  display: flex;
  justify-content: center;
  width: 90%;
 
}


/* Friend List Container */
.friend-List-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #afd9ff;
    width: 200px;
    height: 400px;
  }



/* Friend List profile image scroll bar */
  .friend-List {
    margin: 0 0 5% 20%;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 120px;
    height: 300px;
    overflow: scroll;
    background: lightgray;
  }

  /* PROFILE IMAGE HOLDER */
  .imageholder{
    margin: 5% 0 0 15%;
    background: white;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    padding-top: 25px;
 }


  .MessageBox{
    
    border: 2px solid green; 
    width: 500px;
  }

  .MessageBoxTop{
    display: flex;
    border: 2px solid red;
    height: 300px; 
  }

  .Messagebox2{
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid black;
  }



  /* BUTTON */

  .Btn{
    
    padding: 5px 10px 5px 10px;
    margin: 25px 15px 0 15px; 
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    background: #0085FF;
    color:  white;
    width: 150px;
    height: 50px;
    
    
  }


  /* Friend selected Image for message*/
  .MessageUserImg{
   
    background: lightgray;
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }

