.user-profile {
    padding:50px;
    margin:0 auto;
}

.user-form {
    display:flex;
    justify-content: space-between;

}

.user-photo {
    width:250px;
    height:250px;
    border-radius:10px;
}